.Navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    font-family: 'Roboto';
}
.leftNav {
    margin-left: 1rem;
}

.rightNav {
    display: flex;
    margin-right: 1rem;
}

.cartIcon {
    width: 2rem;
    margin-left: 3rem;
}