.Navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    font-family: 'Roboto';

}

.navLink {
    margin: 0 1rem;
    text-decoration: none;
    color: black;
}

.navLink:hover {
    text-decoration: underline;
}

.leftNav {
    margin-left: 1rem;
    display: flex;
}

.rightNav {
    display: flex;
    margin-right: 1rem;
}

.cartIcon {
    width: 2rem;
    margin-left: 3rem;
}