.ordersDiv {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media only screen and (max-width: 875px) {
    #orderContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
 }